@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

  $color-primary: #F65A90;
  $color-black:#141414;
  $color-white:#fff;
  $color-grey: #f7f7f7;


$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;

  // @media only screen and (max-width:$bp-large){
  // font-size: 50%;  
  // }
}

body{
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: var(--color-white);
  box-sizing: border-box;
}